
/* customize for body,body #page */ 
body,body #page { 
font-family:inherit 
} 

/* customize for #topbar */ 
#topbar { 
background-color:#fc6e51 
} 

/* customize for #topbar,#topbar .btn-dropdown span */ 
#topbar,#topbar .btn-dropdown span { 
color:#ffffff 
} 

/* customize for #topbar a,#topbar .btn.btn-theme-normal */ 
#topbar a,#topbar .btn.btn-theme-normal { 
color:#ffffff 
} 

/* customize for #topbar,#topbar .links li,#topbar .btn.btn-theme-normal */ 
#topbar,#topbar .links li,#topbar .btn.btn-theme-normal { 
border-color:#ff684a 
} 

/* customize for #topbar .fa,#topbar .btn.btn-theme-normal .fa */ 
#topbar .fa,#topbar .btn.btn-theme-normal .fa { 
color:#fc6e51 
} 

/* customize for #pav-mainnav .inner */ 
#pav-mainnav .inner { 
background-color:#fc6e51 
} 
