// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/green/';
$image-theme-path-base : '../../image/';


$orange:                 #009bf9;

$theme-color           : $orange; // using for default color of all pages such as background color for top menu, block header 

$theme-color-primary: #32b2ff;
$theme-color-secondary:  #009bf9;

// megamenu
$megamenu-border-shape-bg-color: #5abfe0;


// box
$panel-success-heading-bg: #5abfe0;



