#pav-paneltool form > *,.pav-blog .blog-meta > span{
	float: right;
}
.pav-blog .blog-social .social-wrap > div{
	float: right;
}
.accordion-group label{
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.zoomContainer .zoomWindow {
    border: 4px solid #e7e7e7 !important;
    right: 100% !important;
}
.text-fill li a:before{
	transition:none;
}
.navbar-header{
	float: right;
}
.text-right{
	text-align: left;
}