//
// Navs
// --------------------------------------------------
// Give the tabs something to sit on
.nav-pills {
  > li {
    &.active:before{
      border-top: 10px solid $nav-highlight-active-bg-color;
    }
    >a:hover{
    	color: $nav-highlight-active-bg-color;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
    	color: $white; 
    	background-color: $nav-highlight-active-bg-color;
    	&:hover, &:active, &:focus{
    		color: $white; 
    		background-color: $nav-highlight-active-bg-color;
    	}
    }
  }
}

 .quick-setting{
    border-top: 4px solid $theme-color-primary;
    padding: 10px;
    .language{
        li:hover{
            color: $theme-color;
            cursor: pointer;
        }
    }

    .currency{
        a{
            cursor: pointer;
            padding: 0 5px;
            border: 1px solid;
            @include rounded-corners(50%);
            b{
                color: $theme-color;
            }
            &:hover{
                color: $theme-color;
            }
        }
    }
}
