// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/blue/';
$image-theme-path-base : '../../image/';


$orange:                 #ff6666;

$theme-color           : $orange; // using for default color of all pages such as background color for top menu, block header 

$theme-color-primary  : #495c8c;
$theme-color-secondary: #3e4e7a;

// megamenu
$megamenu-border-shape-bg-color: #fd527d;


// box
$panel-success-heading-bg: #fd527d;



