// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/orange/';
$image-theme-path-base : '../../image/';


$orange:                 #ff6666;

$theme-color           : $orange; // using for default color of all pages such as background color for top menu, block header 

$theme-color-primary: #ed5a5a;
$theme-color-secondary:  $orange;

// megamenu
$megamenu-border-shape-bg-color: #5abfe0;


// box
$panel-success-heading-bg: #5abfe0;



